* {
    margin: 0;
}
.banner {
    font-size: 50px;
    display: block;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 150px;
    padding-left: 147px;
}
.container {
    /* background-color: aqua; */
    height: 100vh;
    width: 100vw;
}
.card-container {
    margin-top: 50px;
    display: flex;
    margin-left: 147px;
    /* background-color: aqua; */
    height: 100px;
    /* width: 100vw; */
}
.card-container .card {
    /* background-color: white; */
    width: 246px;
    height: 297px;
    margin: 7px;
    margin-right: 42px;
}
.card-title {
    display: block;
    color: white;
}
.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    /* opacity: 0.98; */
}
.card-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.sidebar {
    width: 30vw;
    height: 100vh;
    background-color: rgba(33, 33, 33, 0.8);
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}
.sidebar.active {
    display: block;
}

.sidebar-container {
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-container h3 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sidebar .image-wrapper{
    width: 246px;
    height: 297px;
    background-color: pink;
    border-radius: 20px;
    margin-bottom: 20px;
}
.jumlah-tiket{
    margin:  20px 0;
}
.jumlah-tiket button {
    width: 30px;
    height: 30px;
    /* border: none; */
    border-radius: 30px;
        background-color: rgb(222, 54, 54);;
    }
.jumlah-tiket span {
    margin: 0 5px
}
.btn-submit{
    margin-top: 20px;
    padding: 15px 20px;
    border: none;
    background-color: rgb(222, 54, 54);
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 5em;
}
.btn-dismiss{
    margin-top: 5px;
    padding: 15px 20px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 5em;
}
#coba {
    text-transform: uppercase;
}